{% extends 'core/base.html' %}
{% block header %}
 <!-- Page Header Start -->
 <div class="container-fluid bg-dark bg-img p-5 mb-5">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="display-4 text-uppercase text-white">Contact Us</h1>
        </div>
    </div>
</div>
<!-- Page Header End -->
{% endblock %}

{% block content %}
<!-- Contact Start -->
<div class="container-fluid contact position-relative px-5" style="margin-top: 90px;">
    <div class="container">
        <div class="row g-5 mb-5">
            <div class="col-lg-4 col-md-6">
                <div class="bg-primary border-inner text-center text-white p-5">
                    <i class="bi bi-geo-alt fs-1 text-white"></i>
                    <h6 class="text-uppercase my-2">Our Office</h6>
                    <span>123 Street, New York, USA</span>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="bg-primary border-inner text-center text-white p-5">
                    <i class="bi bi-envelope-open fs-1 text-white"></i>
                    <h6 class="text-uppercase my-2">Email Us</h6>
                    <span>info@example.com</span>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="bg-primary border-inner text-center text-white p-5">
                    <i class="bi bi-phone-vibrate fs-1 text-white"></i>
                    <h6 class="text-uppercase my-2">Call Us</h6>
                    <span>+012 345 6789</span>
                </div>
            </div>
        </div>

        <!--{%if 'ok' in request.GET %}
        <p> <b> Su mensaje se envió de manera exitosa</b></p>
        {% endif %}


            <div class="col-lg-6">
                <form action="" method="POST">
                    {% csrf_token %}
                <table>
                {{contactForm.as_table}}
                </table>
                <input type="submit" value="Enviar"/>
                </form>
                {{request.POST}}-->
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                <form action=""method='POST'>
                    {% csrf_token%}
                    
                    
                    <div class="row g-3">
                        <div class="col-sm-6">
                           
                        {{contactForm.name}}
                        </div>

                    {{contactForm.name.errors}}
                        <div class="col-sm-6">
                            
                       {{contactForm.email}}
                        </div>
                        {{contactForm.email.errors}}
                        <div class="col-sm-12">
                          
                        {{contactForm.subject}}
                        </div>
                        {{contactForm.subject.errors}}
                        <div class="col-sm-12">
                           
                       {{contactForm.message}}
                        </div>
                        {{contactForm.message.errors}}
                        <div class="col-sm-12">
                            <button class="btn btn-primary border-inner w-100 py-3" type="submit">Send Message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<!-- Contact End -->


{% endblock %}
